
.container{
    margin: 295px 662px;
    width: 336px;
    height: auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
   
   
}
.headTitle{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}